<!-- <h1 class="text-center container">Template form</h1> -->
<!-- <div class="row" style="padding: 20px">
  <form action="">
    <div class="form-group">
      <label for="">Firstname</label>
      <input ngModel name="firstname" type="text" class="form-control" #firstname="ngModel" (change)="log(firstname)">
  </div>
  <div class="form-group">
    <label for="">Lastname</label>
    <input name="lastname"  ngModel #lastname="ngModel" type="text" class="form-control">
</div>
<div class="form-group">
  <label for="">Bio</label>
  <textarea name="bio" ngModel #bio="ngModel" class="form-control"></textarea>
</div>
<div  class="form-group" style="padding-top: 1em; text-align: right;">
  <button type="button" class="btn btn-primary" (click)="submit(lastname, firstname, bio)" >Submit</button>
</div>

  </form>
</div> -->

<h1 class="text-center container">Template form</h1>
<div class="row" style="padding: 20px">
  <form action="">
    <div class="form-group">
      <label for="">Firstname</label>
      <input required
      minlength="3"
      maxlength="8"
      [(ngModel)]="user.firstname"
       name="firstname" type="text"
        class="form-control"
        #firstname="ngModel"
        (change)="log(firstname)"
        >
        <div class="alert alert-danger"
         *ngIf="firstname.control.errors && firstname.control.touched"
         >
          <div *ngIf="firstname.control.errors.required">
            First name is required
          </div>
          <div *ngIf="firstname.control.errors.minlength">
            Fist name must be at least three characters
          </div>
        </div>
  </div>
  <div class="form-group">
    <label for="">Lastname</label>
    <input [(ngModel)]="user.lastname" name="lastname"  ngModel #lastname="ngModel" type="text" class="form-control">
</div>
<div class="form-group">
  <label for="">Bio</label>
  <textarea [(ngModel)]="user.bio"  name="bio" ngModel #bio="ngModel" class="form-control"></textarea>
</div>
<div  class="form-group" style="padding-top: 1em; text-align: right;">
  <button
  [disabled]="firstname.control.invalid"
  type="button" class="btn btn-primary" (click)="submitTwoWay()" >Submit</button>
</div>

  </form>
</div>

