<h1 class="title">{{header}}</h1>
<!-- <div>
<div *ngIf="gender == 0">Male</div>
<div *ngIf = "gender == 1">Female</div>
<div *ngIf = "gender== 2">Transgender</div>
</div> -->

<button (click)= "changestyle()"> changestyle</button>

<div [ngSwitch] = "gender">
<div *ngSwitchCase = "0">Male</div>
<div *ngSwitchCase = "1">female</div>
<div *ngSwitchCase = "2">Transgender</div>
<div *ngSwitchDefault> Gender is not yet recognised </div>

</div>
<!-- <p style="font-size: 30px; text-decoration: underline;"
[ngStyle]="defaultStyle"
[style.font-size.px]="14"
>

<hr>
 <div [ngClass]="{'underline': true,'theme-yellow': applyYellowTheme,  'theme-blue' : !applyYellowTheme }">
 
   <p>Hello it is a wonderful life</p>
   <p>Live to die another day</p>
   <p>The brave die only once</p>
 </div>
 
 <div [ngClass]="getTheme()">
 
   <p>Hello it is a wonderful life</p>
   <p>Live to die another day</p>
   <p>The brave die only once</p>
</div> -->


<router-outlet></router-outlet>